.chat-container {
	max-height: calc(100vh - 2rem);
	max-height: calc(100dvh - 2rem);
	width: 100%;
	max-width: 1440px;
	display: grid;
	grid-template-rows: auto min-content 1fr auto;
	grid-template-columns: 32px 1fr 32px;
	align-content: flex-start;
	position: relative;
	margin: 0 auto;
	border-radius: 16px;
	background: var(--text-primary-color);
	background: linear-gradient(
			45deg,
			hsla(254, 53%, 66%, 0.7091211484593838) 0%,
			hsla(238, 28%, 43%, 0.8379726890756303) 100%
		),
		url(../assets/chat-background.jpg);
}
/* hsla(252, 100%, 99%, 0.8379726890756303) */
/* hsla(265, 100%, 87%, 0.8379726890756303) 100% */
/* hsla(254, 53%, 66%, 0.7091211484593838) 100% */
/* hsla(238, 28%, 43%, 0.8379726890756303) 100% */

.chat-header {
	grid-column: 1 / -1;
	text-align: center;
	padding-block: 1rem;
	background-color: var(--text-primary-color);
	color: var(--background-color);
}

.chat-header > h1 {
	font-size: 1.75rem;
	font-weight: 600;
}

.chat-profile {
	grid-column: 1 / -1;
	text-align: center;
	margin-bottom: 1rem;
	padding-top: 1rem;
}

.chat-profile__switch-wrapper {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

.chat-profile__switch-wrapper > .badge__img {
	width: 200px;
	height: 200px;
}

.chat-profile__switch-account {
	position: absolute;
}

.has-only-one {
	/* transform: translate(120px, -105px);
	transition: all 200ms ease-in-out; */

	top: 50%;
	right: -20%;
}

.has-multiple {
	display: flex;
	gap: 2px;
	bottom: 0px;
	right: -10%;
	max-width: 100%;
	overflow-x: auto;
}

.switch-account-image-container {
	min-width: fit-content;
	position: relative;
	cursor: pointer;
}

.switch-account-image-container:hover > .overlay {
	background-color: var(--hover-color);
}

.switch-account-image-container > .badge__img {
	width: 100px;
	height: 100px;
}

.chat-profile__switch-account.has-multiple
	> .switch-account-image-container
	> .badge__img {
	width: 75px;
	height: 75px;
}

.switch-account-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text-primary-color);
	font-size: 2.25rem;
	user-select: none;
}

.chat-form-container {
	box-shadow: var(--box-shadow-menu);
	background: var(--background-color);
	padding: 0.5rem;
}

.chat-form-bottom {
	grid-column: 1 / -1;
}

.chat__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap-medium);
}

.chat-form__edit-container {
	display: grid;
	align-items: center;
	grid-template-columns: 40px minMax(192px, 1fr) 40px;
	gap: var(--gap-normal);
}

.chat-form__edit-icon {
	display: grid;
	place-items: center;
	color: var(--text-primary-color);
}

/* .edit-message__text-container {
} */

.edit-message__text-helper {
	font-size: var(--p-font-size-small);
	font-weight: 600;
	color: var(--text-primary-color);
	letter-spacing: 1px;
}

.edit-message__text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: var(--p-font-size-small);
	font-style: italic;
	color: var(--text-primary-color);
}

.chat__form__input-container {
	flex-grow: 1;
}

.chat__form__label {
	width: 100%;
}

.chat__form__textarea {
	display: block;
	min-width: 0px;
	width: calc(100% - 40px);
	height: 24px;
	margin: 0px;
	padding: 0.5em 1.25em;
	border: 0px;
	line-height: 110%;
	border-radius: 24px;
	letter-spacing: inherit;
	box-sizing: content-box;
	resize: none;
	overflow: hidden;
}

.chat-form-button {
	transition: all 200ms ease-in-out;
	transform: rotate(0deg);
	border: 2px solid var(--text-primary-color);
}

.chat-form-button:disabled {
	border: none;
	transform: rotate(-90deg);
}

.chat-messages-container {
	display: flex;
	flex-direction: column;
	grid-column: 2 / 3;
	overflow: auto;
	gap: var(--gap-medium);
	container-type: inline-size;
	padding-bottom: 1rem;
}

.chat-message-container {
	max-width: 40%;
	width: fit-content;
	display: flex;
	align-items: flex-end;
	gap: var(--gap-medium);
	transition: all 200ms ease-in-out;
}

.chat-message-to-left {
	transform: translateX(calc(100cqw - 100%));
}

.chat-message-container > .badge__img {
	flex-shrink: 0;
}

.chat-message {
	width: fit-content;
	padding: 0.5em 1em;
	border-radius: 0.5rem 1rem 1rem 0.5rem;
	/* background: #a9a7f4d6; */
	font-style: italic;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: var(--text-primary-color);
	font-weight: 600;
	word-break: break-word;
	font-size: clamp(var(--p-font-size-small), 2vw, var(--p-font-size-normal));
}

.chat-message:only-child {
	margin-left: 48px;
	grid-column: 1 / -1;
}

.chat-message-selected {
	border: 2px solid var(--primary-color);
}

.chat-message-container:first-child > .chat-message {
	border-radius: 1rem 1rem 1rem 0.5rem;
}

.chat-message-container:last-child > .chat-message {
	border-radius: 1rem 1rem 1rem 0rem;
}

@media screen and (max-width: 1024px) {
	.chat-container {
		max-height: 100vh;
		max-height: 100dvh;
		width: 100%;
		max-width: none;
		grid-template-columns: 16px 1fr 16px;
		border-radius: 0px;
	}
}

@media screen and (max-width: 768px) {
	.chat-message-container {
		max-width: 80%;
	}

	.chat-profile__switch-wrapper > .badge__img {
		width: 150px;
		height: 150px;
	}

	.switch-account-image-container > .badge__img {
		width: 75px;
		height: 75px;
	}

	.chat-profile__switch-account.has-multiple
		> .switch-account-image-container
		> .badge__img {
		width: 50px;
		height: 50px;
	}

	.switch-account-icon {
		font-size: 1.5rem;
	}
}
