.badge {
	position: relative;
}

.badge__img {
	object-fit: cover;
	border-radius: 50%;
	user-select: none;
}

.badge__name {
	font-weight: bold;
	color: var(--text-primary-color);
	text-shadow: 1px 1px var(--background-color);
	font-size: max(1.5rem, 2vw);
}
